.inicio-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-btn {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: black;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
}

.nav-btn.active {
  background: black;
  color: white;
}

.inicio-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inicio-main h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 60px 0 40px 0;
  text-align: center;
}

.moods-grid {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}

.moods-row {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.mood-box {
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mood-box.green { background: #23A550; }
.mood-box.red { background: #DC3220; }
.mood-box.yellow { background: #EE971C;}
.mood-box.purple { background: #922681; }
.mood-box.blue { background: #0477B9; }

.mood-box:hover {
  transform: scale(1.07);
}